#/////////////////////////////////////////////////////////////////////////////
# TDJ Projects
#/////////////////////////////////////////////////////////////////////////////

Camp/
jre1.8.0_161/
Face/
/Magic/*
!/Magic/magic09*
Movie/
Music/
SAVES/
Shop/
/Sprite/man0*
/Sprite/man1*
/Sprite/man2*
!/Sprite/man3*
#/////////////////////////////////////////////////////////////////////////////
# saves
#/////////////////////////////////////////////////////////////////////////////

*.GCF
*.GSF

#/////////////////////////////////////////////////////////////////////////////
# others
#/////////////////////////////////////////////////////////////////////////////

*.RAR
*.ZIP
*.EXE
*.DOC
*.DOCX
*.LOG
*.CHM
*.bak
*.DLL
*.ASI
*.TXT
