#/////////////////////////////////////////////////////////////////////////////
# TDJ Projects
#/////////////////////////////////////////////////////////////////////////////

Camp/
jre1.8.0_161/
/Magic/*
!/Magic/magic09*
Movie/
Music/
SAVES/
Shop/
/Sprite/man0*
/Sprite/man1*
/Sprite/man2*
!/Sprite/man3*
!/Sprite/man009
!/Sprite/man156
!/Sprite/man163
/Face/Face*
!/Face/Face52.saf
!/Face/Face53.saf
!/Face/Face54.saf
!/Face/Face55.saf
#/////////////////////////////////////////////////////////////////////////////
# saves
#/////////////////////////////////////////////////////////////////////////////

*.GCF
*.GSF

#/////////////////////////////////////////////////////////////////////////////
# others
#/////////////////////////////////////////////////////////////////////////////

*.RAR
*.ZIP
*.EXE
*.DOC
*.DOCX
*.LOG
*.CHM
*.bak
*.DLL
*.ASI
*.TXT
